/* 
	定义背景图片的运动
 */
/* @keyframes bg1{
	0%{
		top: 0px;
	}
	50%{
		top: 568px;
	}
	50.01%{
		top: -568px;
	}
	100%{
		top: 0px;
	}
}
@keyframes bg2{
	0%{
		top: -568px;
	}
	50%{
		top: 0px;
	}
	50.01%{
		top: 0px;
	}
	100%{
		top: 568px;
	}
} */
@keyframes enemy1boom{
	0%{
		background-image: url(../image/smallboom.gif);
	}
	99%{
		background-image: url(../image/smallboom.gif);
	}
	100%{
		background-image: url(../image/boom.png);
	}
}